<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/signup.css">
    <title>Sign Up</title>
</head>
<body>
    <div class="container">
    <h2>Sign Up</h2>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <form method="post" action="{{ url_for('signup') }}">
        Email: <input type="email" name="email" required><br>
        Password: <input type="password" name="password" required><br>
        Password: <input type="password" name="password2" required><br>
        <input type="submit" value="Sign up">
    </form>
    <a href="{{ url_for('login') }}">Login</a>
</div>
</body>
</html>
